{% extends "base.html" %}
{% block content %}


<h2>{{ page_title }}</h2>
<p>
    DARLING in the FRANXX (ダーリン・イン・ザ・フランキス, Darin in za Furankisu) is a 2018 science fiction/mecha anime co-produced by
    Studio TRIGGER and A-1 Pictures. The series was announced at Trigger's Anime Expo 2017 panel in July 2017. In a
    post-apocalyptic future, young pilots fight against giant monsters known as klaxosaurs using giant feminine robots
    known
    as FRANXX. Their identities are defined solely by their role as pilots, with no personal freedom or knowledge of the
    outside world beyond the "birdcage" of Mistilteinn or the mobile fortress of Plantation. When former prodigy Hiro
    becomes unable to pilot a FRANXX, he becomes filled with doubt and conflict about his own worth. That doubt and
    conflict
    changes to resolve when he meets a strange part-klaxosaur girl with horns on her head called Zero Two. Despite the
    risks
    of teaming up with a known "partner killer," Hiro becomes Zero Two's DARLING to fly a FRANXX again.
</p>

{% for character in company %}

<div class="row featurette">

    {% if loop.index % 2 != 0 %}

    <div class="col-md-7">
        <h3><a href="/about/{{ character.url }}">{{ loop.index }}. {{ character.name }}</a></h3>
        <p>{{ character.description }}</p>
    </div>
    <div class="col-md-5">
        <img src="{{ character.image_source }}" alt="Zero Two" class="featurette-image image-responsive">
    </div>

    {% else %}

    <div class="col-md-5">
        <img src="{{ character.image_source }}" alt="Zero Two" class="featurette-image image-responsive">
    </div>
    <div class="col-md-7">
        <h3><a href="/about/{{ character.url }}">{{ loop.index }}. {{ character.name }}</a></h3>
        <p>{{ character.description }}</p>
    </div>

    {% endif %}

</div>

{% if loop.index != loop.length %}

<hr class="featurette-divider">

{% endif %}


{% endfor %}

{% endblock %}